<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorate="layout">
<head>
<title>user list</title>
</head>
<body>
	<h1 layout:fragment="pageTitle">用户信息</h1>
	<div layout:fragment="content">
		<div class="panel panel-default">
			<div class="panel-heading">
				<i class="icon-edit icon-large"></i> Form Horizontal
			</div>
			<div class="panel-body">
				<form class="form-horizontal">
					<fieldset>
						<legend>Default inputs</legend>
						<div class="form-group">
							<label class="col-lg-2 control-label">用户名</label>
							<div class="col-lg-10">
								<input class="form-control" placeholder="Enter username"
									type="text">
							</div>
						</div>
						<div class="form-group">
							<label class="col-lg-2 control-label">密码</label>
							<div class="col-lg-10">
								<input class="form-control" placeholder="Enter password"
									type="password">
							</div>
						</div>
						<div class="form-group">
							<label class="col-lg-2 control-label">头像</label>
							<div class="col-lg-10">
								<input type="file">
							</div>
						</div>
						<div class="form-group">
							<label class="col-lg-2 control-label">角色</label>
							<div class="col-lg-10">
								<select class="form-control">
									<option>1</option>
									<option>2</option>
									<option>3</option>
									<option>4</option>
									<option>5</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-lg-2 control-label">权限</label>
							<div class="col-lg-10">
								<label class="checkbox-inline"> <input type="checkbox" id="inlineCheckbox1" value="option1">1</label>
								<label class="checkbox-inline"> <input type="checkbox" id="inlineCheckbox2" value="option2">2</label> 
								<label class="checkbox-inline"> <input type="checkbox" id="inlineCheckbox3" value="option3">3</label>
							</div>
						</div>
						<div class="form-group">
							<label class="col-lg-2 control-label">描述</label>
							<div class="col-lg-10">
								<textarea class="form-control" rows="4"></textarea>
							</div>
						</div>
					</fieldset>
					<div class="form-actions">
						<button class="btn btn-default" type="submit">Save</button>
						<a class="btn" href="#">Cancel</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>